{{!-- {{#each this}}
<li class='gallery__item'>
    <img src='{{urls.small}}' alt='{{alt_description}}' class='gallery-img' />
</li>
{{/each}} --}}

{{#each this}}
<div class='photo-card'>
    <a class='gallery__link' href='{{largeImageURL}}'><img src='{{webformatURL}}' alt='{{tags}}' width='250'
            height='200' loading='lazy' /></a>
    <div class='info'>
        <p class='info-item'>
            <b>Likes<br>{{likes}}</b>
        </p>
        <p class='info-item'>
            <b>Views<br>{{views}}</b>
        </p>
        <p class='info-item'>
            <b>Comments<br>{{comments}}</b>
        </p>
        <p class='info-item'>
            <b>Downloads<br>{{downloads}}</b>
        </p>
    </div>
</div>
{{/each}}