{{!-- {{#each this}}
<li class='gallery__item'>
    <img src='{{urls.small}}' alt='{{alt_description}}' class='gallery-img' />
</li>
{{/each}} --}}

{{!-- {{#each this}}
<div class="photo-card">
    <a class="gallery__link" href="{{el.largeImageURL}}"><img src="{{el.webformatURL}}" alt="{{el.tags}}" width="250"
            height="200" loading="lazy" /></a>
    <div class="info">
        <p class="info-item">
            <b>Likes{{el.likes}}</b>
        </p>
        <p class="info-item">
            <b>Views{{el.views}}</b>
        </p>
        <p class="info-item">
            <b>Comments{{el.comments}}</b>
        </p>
        <p class="info-item">
            <b>Downloads{{el.downloads}}</b>
        </p>
    </div>
</div>
{{/each}} --}}